In [35]:
nombres_amigos = input('Introduce tres nombres de amigos')
nombres2 = nombres_amigos.split()
print(nombres2)

['Carlos,', 'Ana,', 'Pepa']

In [32]:
nombres_amigos.split()

['Carlos,', 'Ana,', 'Pepa']

In [22]:
lista_alturas = [1.45,  1.67, 1.57]

In [19]:
lista_alturas = input('Introduce tu altura')

In [20]:
lista_alturas.split()

['1.45,', '1.67,', '1.57']

In [23]:
lista_alturas = [float(i) for i in lista_alturas]

In [24]:
lista_alturas.sort(reverse=True)

In [25]:
lista_alturas

[1.67, 1.57, 1.45]

In [37]:
nombres2.sort(reverse=True)

In [38]:
nombres2

['Pepa', 'Carlos,', 'Ana,']

In [50]:
print('Mi amigo m치s alto mide',max(lista_alturas))

Mi amigo m치s alto mide 1.67

In [44]:
print('Mi amigo m치s bajo mide' , min(lista_alturas))

Mi amigo m치s bajo mide 1.45

In [51]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [58]:
lista_lista = [lista1 + lista2]

In [59]:
lista_lista

[[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]]

In [60]:
lista_lista.count(67)

0

In [61]:
lista_numeros = lista1 + lista2

In [62]:
lista_numeros.count(67)

2