In [54]:
nombres_amigos = input('Introduce tres nombres de amigos')
nombres2 = nombres_amigos.split()
print(nombres2)

['Carlos', 'Ana', 'Pepa']

In [55]:
alturas_amigos = input('Introduce la altura de tres de tus amigos')

In [56]:
lista_alturas = alturas_amigos.split()
print(lista_alturas)

['1.45', '1.67', '1.57']

In [57]:
lista_alturas = [float(i) for i in lista_alturas]

#nos ha dado varios errores al ejecutar este comando al meter los datos con comas

In [58]:
lista_alturas.sort(reverse=True)

In [59]:
lista_alturas

[1.67, 1.57, 1.45]

In [60]:
nombres2.sort(reverse=True)

In [61]:
nombres2

['Pepa', 'Carlos', 'Ana']

In [62]:
print('Mi amigo más alto mide',max(lista_alturas))

Mi amigo más alto mide 1.67

In [63]:
print('Mi amigo más bajo mide' , min(lista_alturas))

Mi amigo más bajo mide 1.45

In [64]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [65]:
lista_lista = [lista1 + lista2]

lista_lista

[[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]]

In [66]:
lista_numeros = lista1 + lista2
lista_numeros

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [67]:
lista_lista.count(67)

#en este caso el resultado nos da cero ya que la variable lista_lista es la suma de dos listas, pero no interpreta el contenido de las mismas

0

In [68]:
lista_numeros.count(67)

#en este caso interpreta el contenido de ambas listas y dentro de ellas si existe el número 67

2

In [72]:
inversa = lista_numeros.copy()
inversa

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [75]:
inversa.reverse()

In [76]:
print(inversa)

#en los apuntes da el resultado sin el print, pero a nosotras hasta que no lo hemos puesto no nos salía la lista de números invertida

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]